# Update the Mobility Database Schema
name: Database Schema Update - DEV
on:
  push: # Update on merge on master if the changelog file or populate script have been updated
    branches:
      - main
    paths:
      - 'liquibase/changelog.xml'
      - 'api/src/scripts/populate_db*'
  workflow_dispatch:  # Manual trigger
    inputs:
      DRY_RUN:
        description: Dry run. Skip applying schema and content updates
        required: false
        default: true
        type: boolean
  workflow_call:
    inputs:
      DRY_RUN:
        description: Dry run. Skip applying schema and content updates
        required: false
        default: false
        type: boolean
jobs:
  print-event-name:
    name: Print event name
    runs-on: ubuntu-latest
    steps:
      - name: Print event name
        run: echo "github.event_name=${{ github.event_name }}"

  update:
    uses: ./.github/workflows/db-update.yml
    with:
      PROJECT_ID: ${{ vars.DEV_MOBILITY_FEEDS_PROJECT_ID }}
      REGION: ${{ vars.MOBILITY_FEEDS_REGION }}
      DB_NAME: ${{ vars.DEV_POSTGRE_SQL_DB_NAME }}
      DB_ENVIRONMENT: ${{ vars.QA_MOBILITY_FEEDS_ENVIRONMENT }}
      # DRY_RUN is passed through directly from inputs
      DRY_RUN: ${{ inputs.DRY_RUN }}
    secrets:
      DB_USER_PASSWORD: ${{ secrets.DEV_POSTGRE_USER_PASSWORD }}
      DB_USER_NAME: ${{ secrets.DEV_POSTGRE_USER_NAME }}
      POSTGRE_SQL_INSTANCE_NAME: ${{ secrets.DB_INSTANCE_NAME }}
      # GCP auth (DB project service account)
      DB_GCP_MOBILITY_FEEDS_SA_KEY: ${{ secrets.QA_GCP_MOBILITY_FEEDS_SA_KEY }}
      # 1Password tokens
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

