name: Run Integration Tests

on:
  workflow_call:
    inputs:
      API_URL:
        required: true
        type: string
        description: 'API URL to be used for tests'
      ENVIRONMENT:
        type: string
        description: 'Environment name'
        default: 'dev'
    secrets:
      REFRESH_TOKEN:
        required: true
        description: 'Refresh token for API authentication'

env:
  python_version: '3.11'

jobs:
  integration-tests:
    name: Integration Tests
    runs-on:
      labels: ubuntu-latest-4-cores
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Extract commit hash and version from git
      run: ./scripts/extract-hash-and-version.sh -e ${{ inputs.ENVIRONMENT }}

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.python_version }}

    - name: Download csv version of the database
      run: wget -O sources.csv https://storage.googleapis.com/storage/v1/b/mdb-csv/o/sources.csv?alt=media

    - name: Get full path of sources.csv
      id: getpath
      run: echo "FILE_PATH=$(realpath sources.csv)" >> $GITHUB_ENV

    - name: Health Check
      # When triggered by a repo dispatch the API code is not deployed so there could be discrepancies
      # between the code running the tests and the code running the API. In that case don't do the
      # MetadataEndpointTests since it makes exact comparisons of the hash and version.
      # The BasicMetadataEndpointTests just looks at the hash and version format, without looking
      # at the exact values, so always do these tests.
      run: |
        health_check_classes="BasicMetadataEndpointTests"
        if [[ "${{ github.event_name }}" != "repository_dispatch" ]]; then
          health_check_classes+=",MetadataEndpointTests"
        fi
        ./scripts/integration-tests.sh -u ${{ inputs.API_URL }} -f $FILE_PATH -c $health_check_classes
      env:
        FILE_PATH: ${{ env.FILE_PATH }}
        REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}

    - name: Run Integration Tests
      run: ./scripts/integration-tests.sh -u ${{ inputs.API_URL }} -f $FILE_PATH -x MetadataEndpointTests
      env:
        FILE_PATH: ${{ env.FILE_PATH }}
        REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}

    - name: Upload Test Logs
      if: ${{ always() }} # always upload the available logs even if the integration tests failed.
      uses: actions/upload-artifact@v4
      with:
        name: integration-tests-results-${{ inputs.ENVIRONMENT }}
        path: |
          integration-tests/src/integration_tests_log.html
          integration-tests/src/datasets_validation.csv
